.concept {
    width: 100%;
    height: 100%;
}

.concept-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 45px;
}

.concept-background {
    height: 600px;
    background-image: url('../img/nego-fugido.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.concept-title {
    text-align: center;
    font-size: 32px;
    margin-bottom: 32px;
    color: var(--green-medium);
}

.owl-carousel-container {
    max-width: 840px;
    min-height: 412px;
    border-radius: 8px;
    background-color: var(--white);
}

#owl {
    display: block;
}

.items {
    cursor: grab;
}

.testimonial-item {
    display: flex;
    padding: 24px 80px;
}

.testimonial-image-content {
    padding-right: 32px;
}

#owl .owl-item img {
    width: 68px;
    height: 68px;
    border-radius: 50%;
}

.testimonial-text-content {
    padding-top: 12px;
    padding-right: 32px;
}

.testimonial-text {
    font-size: 24px;
    font-weight: 400;
    line-height: 1.4;
    color: var(--green-strong);
}

.testimonial-text-bold {
    color: var(--green-medium);
}

.testimonial-cite {
    display: flex;
    flex-direction: column;
    margin: 24px 0;
}

.testimonial-name, .testimonial-title {
    font-weight: bold;
    font-size: 18px;
    color: var(--green-strong);
}

.testimonial-title {
    margin-top: 8px;
    font-weight: 400;
    color: rgba(0, 204, 180, .6);
}

.testimonial-button-wrapper {
    margin-top: 50px;
    text-align: center;
}

.testimonial-button {
    display: inline-block;
    padding: 16px 48px;
    border-radius: 8px;
    font-weight: 700;
    font-size: 18px;
    background-color: var(--green-weak);
    color: var(--white);
    transition: .2s;
}

.testimonial-button:hover {
    background-color: var(--green-strong);
    transition: .2s;
}

.testimonial-button-text {
    display: flex;
}

.testimonial-icon {
    margin-right: 8px;
}

/* Aqui doi para tirar o hover ao passar o mouse por cima do button
   Veja que o framework não centralizou o ícone dentro do button
*/
#owl .owl-nav [class*=owl-]:hover {
    background-color: transparent;
}

#owl .owl-prev, #owl .owl-next {
    position: absolute;
} 


#owl .owl-prev {
    left: 25px;
    top: 160px;
}

#owl .owl-next {
    right: 25px;
    top: 160px;
}

#arrow-prev {
}

.mission-content {
    padding: 4%;
}

.mission-wrapper {
    display: flex;
    justify-content: space-between;
}

.mission-image,
.mission-content-text {
    padding: 10px;
}

#missionImage {
    width: 550px;
    height: 300px;
    border-radius: 8px;
}

.mission-content-text {
    display: flex;
    align-items: center;
    padding-left: 40px;
}

.mission-text {
    font-size: 2rem;
    font-weight: 700;
    color: var(--green-strong);
}

.mission-text-bold {
    color: var(--green-weak)
}

.our-team {
    background: url('../img/wave.png') no-repeat;
    background-size: cover;
    padding: 96px 92px;
}

#owlOurTeam .item {
    width: 262.5px;
    padding: 24px 32px;
    border-radius: 8px;
    background-color: var(--white);
}

#owlOurTeam .owl-item.active {
    width: 262.5px;
}

.team-wrapper {
    position: relative;
}

.team-img {
    width: 202px;
    height: 202px;
    border-radius: 50%;
}

.team-icons {
    display: flex;
}

.team-icon path {
    fill: #212121;
}

.team-link {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 80px;
    border-radius: 50%;
    box-shadow: 0px 5px 28px 1.5px rgba(149, 152, 200, .25);
    background-color: var(--white);
    transition: .2s;
}

.team-link:hover {
    background-color: var(--green-medium);
    transition: .2s;
}

.team-link:hover .team-icon path {
    fill: #fff;
}

#social-left {
    left: 20px;
}

#social-right {
    right: 20px;
}

.team-bottom {
    margin-top: 25px;
    text-align: center;
}

.team-person {
    font-weight: 400;
    line-height: 1.5;
}

.team-job {
    font-size: 18px;
    font-weight: 600;
    color: var(--green-medium);
}