.owl-carousel .owl-stage {
    margin: 0 auto; 
}

#banner-group {
    padding-top: 5%;
}

.banner {
    height: 300px;
    padding: 2% 8%;
}

.banner-container {
    /* background: url('../img/banner.svg') no-repeat;
    background-position: right; */
}

.groups {
    width: calc(100% - 18%);
    padding: 0 4%;
}

#solidarity {
    height: 110%;
}

.card-content-group {
    width: 100%;
}

.cards-group {
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    justify-content: space-between;
    grid-gap: 16px;
}

.card-group {
    width: auto;
    /* margin-bottom: 16px; */
    border-radius: 12px;
    box-shadow: 0px 5px 28px 2px rgba(149, 152, 200, 30%);
    /* 0px 0px 28px 1.5px rgba(149, 152, 200, 20%); */
}

.card-img-group {
    border-radius: 8px 8px 0px 0px;
    width: 100%;
    height: 150px;
}
.card-wrapper-group {
    padding: 12px 18px;
}

.card-title-group {
    color: #212121;
}

.card-person-city-group {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.card-icon-group {
    width: 18px;
    fill: #212121;
}

.card-person-group,
.card-city-group {
    color: #757575;
}

.card-city-group {
}

.card-person-group {
    margin-left: 5px;
}

.card-container-group {
    width: 300px;
}

#cardButton {
    width: 80px;
    height: 37px;
    font-size: 14px;
}

.card-text-group {
    margin: 12px 0;
    line-height: 1.2;
    font-size: 15px;
    color: #212121;
    /* As propriedades abaixo são para mostrar
    apenas 3 linhas no card. */
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3
}

.card-button-group {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.card-button-group .button-container {
    width: auto;
}

.search-container {
    margin: 64px 0;
}

.search-text {
    margin-bottom: 8px;
}

.search-filter {
    display: flex;
    align-items: center;
    position: relative;
    padding: 24px 0;
}

#input {
    width: 30vw;
}

#input:focus {
    border-color: #212121;
}


.filter {
    padding: 10px 18px;
    border: 1px solid #185669;
    font-size: 16px;
}

.search-button {
    padding: 9.4px 9px;
    border: 1px solid #185669;
    border-left: none;
    background-color: #f9f9f9;
    
}

.search-button:hover {
    cursor: pointer;
    background-color: rgba(0, 205, 180, 0.4);
}

.search-button:hover .search-icon path {
}

.icon-search-button {
   
}

.search-icon {
    left: 8px;
    height: 16px;
}

.main .title{
    margin-top: 1%;
    margin-bottom: 0;
}

.main-columns {
    width: 100%;
    display: flex;
    padding-left: 2%;
}

.aside {
    width: 18%;

}

.filters-info {
    font-size: 18px;
    text-align: start;
}

.filter-groups {
    border-radius: 3px;
    margin-top: 24px;
}

.filter-city {
    position: relative;
}

.filter-text {
    display: block;
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: bold;
    color: rgba(33, 33, 33, 0.9);
}

.filter-city-select {
    position: relative;
    padding : 8px;
    margin-bottom: 10px;
    border: 1px solid #185669;
    transition: .2s;
    font-weight: 400;
    background-color: #fff;
    color: #757575;
}

.filter-city-select:hover {
    cursor: pointer;
    transition: .2s;
    background-color: rgba(117, 117, 117, .1);
    color: #185669;
}

.filter-city-select::after {
    content: "";
    width: 8px;
    height: 8px;
    display: block;
    position: absolute;
    top: 10px;
    right: 20px;
    border-top: 2px solid #757575;
    border-right: 2px solid #757575;
    transform: rotate(134deg);
}

.filter-city-select:hover::after {
    border-top: 2px solid #185669;
    border-right: 2px solid #185669;
}

.desactive {
    display: none;
}

.custom-filter {
    width: 100%;
    display: block;
    position: absolute;
    top: 27px;
    z-index: 4;
    border-radius: 5px;
    box-shadow: 0px 5px 28px 2px rgba(149, 152, 200, 30%);
}

.close {
    display: flex;
    position: absolute;
    right: 0;
    top: -23px;
    padding: 4px 6px;
    padding-top: 1px;
    border-radius: 50%;
    font-size: 12px;
    font-weight: bold;
    transition: .2s;
    background-color: rgba(117, 117, 117, .3);
}

.close:hover {
    cursor: pointer;
    transition: .2s;
    background-color: rgba(117, 117, 117, .5);
}

#search-city {
    width: 100%;
    padding : 10px;
    outline: none;
    border: 1px solid #757575;
    /* border-radius: 5px 5px 0px 0px; */
}

#search-city:focus {
    border-color:rgba(24, 86, 105, 1);
}

.filter-city-item {
    padding: 5px 0;
    border-radius: 3px;
    transition: .2s ease all;
}

.filter-city-item:hover {
    background-color: rgba(0, 181, 191, 0.3);
    transition: .2s ease all;
}

.label-city {
    width: 100%;
    height: 100%;
    display: block;
    padding: 8px; /*esse padding está aqui e não no li para pegar todo elemento dentro */
}

.label-city:hover {
    cursor: pointer;
}

.input-city[type="checkbox"] {
    margin-right: 8px;
    cursor: pointer;
}

option {
    color: var(--green-strong);
    border: 1px solid red;
}


/* --green-weak: #00CDB4;
    --green-medium: #00B5BF;
    --green-strong: #185669;
    --white: #fff; */



#buttonContainer {
    width: 100%;
    display: flex;
    justify-content: center;
}

#more {
    height: 50px;
    margin: 40px 0;
    font-size: 16px;
    border: 1px solid #00CDB4;
    color: #00CDB4;
    background-color: transparent;
    transition: .2s;
}

#more:hover {
    color: #fff;
    background-color: #00CDB4;
    transition: .2s;
}