#banner-group {
    padding-top: 5%;
}

.banner {
    height: 300px;
}

.banner-container {
    /* background: url('../img/banner.svg') no-repeat;
    background-position: right; */
}

.groups {
    padding: 4% 8%;
}

#solidarity {
    height: 110%;
}

.card-content-group {
    width: 100%;
}

.cards-group {
    display: grid;
    grid-template-columns: repeat(auto-fit, 350px);
    justify-content: space-between;
    grid-gap: 16px;
}

.card-group {
    width: 350px;
    /* margin-bottom: 16px; */
    border-radius: 12px;
    box-shadow: 0px 5px 28px 2px rgba(149, 152, 200, 30%);
    /* 0px 0px 28px 1.5px rgba(149, 152, 200, 20%); */
}

.card-img-group {
    border-radius: 8px 8px 0px 0px;
    width: 100%;
    height: 150px;
}
.card-wrapper-group {
    padding: 12px 18px;
}

.card-title-group {
    color: #212121;
}

.card-person-city-group {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.card-icon-group {
    width: 18px;
    fill: #212121;
}

.card-person-group,
.card-city-group {
    color: #757575;
}

.card-city-group {
    margin-left: 5px;
}

.card-container-group {
    width: 300px;
}

#cardButton {
    width: 80px;
    height: 37px;
    font-size: 14px;
}

.card-text-group {
    margin: 12px 0;
    line-height: 1.2;
    font-size: 15px;
    color: #212121;
}

.card-button-group {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.card-button-group .button-container {
    width: auto;
}

.search-container {
    margin: 64px 0;
}

.search-text {
    margin-bottom: 8px;
}

.search {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search-filter {
    display: flex;
    align-items: center;
    position: relative;
}

.search-icon {
    left: 8px;
    position: absolute;
}

#input {
    width: 30vw;
    padding-left: 32px;
}

#input:focus {
    border-color: #212121;
}

.filter {
    height: 30px;
    border: 1px solid #185669;
}

option {
    color: var(--green-strong);
    border: 1px solid red;
}


/* --green-weak: #00CDB4;
    --green-medium: #00B5BF;
    --green-strong: #185669;
    --white: #fff; */



#buttonContainer {
    width: 100%;
    display: flex;
    justify-content: center;
}

#more {
    height: 50px;
    margin-top: 40px;
    font-size: 16px;
    border: 1px solid #00CDB4;
    color: #00CDB4;
    background-color: transparent;
    transition: .2s;
}

#more:hover {
    color: #fff;
    background-color: #00CDB4;
    transition: .2s;
}