
.card-img {
    width: 100%;
}
.card-wrapper {
    padding: 12px 18px;
}

.card-person,
.card-city {
    color: #757575;
}

.card-container {
    width: 300px;
    border: 1px solid red;
}

#cardButton {
    width: 80px;
    height: 37px;
    font-size: 14px;
}

.card-text {
    margin: 12px 0;
    line-height: 1.2;
    font-size: 15px;
    color: #212121;
}

.card-button {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.card-button .button-container {
    width: auto;
}