* {box-sizing: border-box; padding: 0; margin: 0}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-rendering: optimizeLegibility !important; /* deixa a fonte menos "pixalizada". A 2ª propriedade sobreescreve qualquer outra text-rendering*/
    -webkit-font-smoothing: antialiased !important;
}

:root {
    --green-weak: #00CDB4;
    --green-medium: #00B5BF;
    --green-strong: #185669;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.container {
    padding: 0;
}

.header {
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 32px;
    box-shadow: 0px -4px 0px 0px rgba(0, 0, 0, .9);
}

.logo {
    width: 215px;
}

.navigator {
    width: calc(100% - 500px);
}

.list {
    display: flex;
}

.list-item {
}

.item-link {
    display: flex;
    padding: 13px 20px;
    color: var(--green-strong);
    font-size: 16px;
    transition: .2s;
}

.item-link:hover {
    color: var(--green-weak);
    transition: .2s;
}

.button-container {
    width: 300px;
    display: flex;
    justify-content: flex-end;
}

.button {
    width: 183px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    background-color: var(--green-weak);
    color: #fff;
    font-weight: bold;
    transition: .2s;
}

.button:hover {
    transition: .2s;
    background-color: var(--green-strong);
}

.banner {
    display: flex;
    justify-content: space-between;
    padding: 3% 0;
    padding-left: 18%;
    padding-right: 13%;
}

.banner-container {
    /* padding: 0 18%; */
    background-color: #F5F5F5;
}

.banner-information {
    padding-top: 8%;

}

.information {
}

.information-title {
    color: #185669;
}

.information-contrast {
    color: #FFA000;
}

.banner-information {
    width: 400px;
}

.banner-information .button-container {
    justify-content: flex-start;
}

#buttonBanner {
    width: 240px;
    height: 60px;
    margin-top: 24px;
    background-color: #FFA000;
    
}

#buttonBanner:hover {
    width: 240px;
    height: 60px;
    background-color:#FF6F00;
}

.banner-image {
    width: 450px;
    border-radius: 8px;
}
