* {box-sizing: border-box; padding: 0; margin: 0}

html {
    font-size: 16px;
}

body {
    font-family: 'Lato', sans-serif;
    text-rendering: optimizeLegibility !important; /* deixa a fonte menos "pixalizada". A 2ª propriedade sobreescreve qualquer outra text-rendering*/
    -webkit-font-smoothing: antialiased !important;
    padding-bottom: 32px;
}

:root {
    --green-weak: #00CDB4;
    --green-medium: #00B5BF;
    --green-strong: #185669;
    --white: #fff;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

#subtitle {
    text-align: center;
    color: var(--white);
    margin-bottom: 24px;
}

.padding {
    padding: 0 8%;
}

.container {
    padding: 0 8%;
}

.header-container {
    width: 100%;
    height: 90px;
    position: fixed;
    background-color: #fff;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .32);
    z-index: 999;
    
}

.header {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 32px;
}

.logo {
    width: 18%;
}

.navigator {
    width: calc(100% - 18%);
 }

.list {
    display: flex;
}

.list-item {
}

.item-link {
    display: flex;
    padding: 13px 20px;
    color: var(--green-strong);
    font-size: 20px;
    transition: .2s;
}

.item-link:hover {
    color: var(--green-weak);
    transition: .2s;
}

.button-container {
    width: 300px;
    display: flex;
    justify-content: flex-end;
}

.button {
    width: 183px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    background-color: var(--green-weak);
    color: #fff;
    font-size: 1.13rem;
    font-weight: bold;
    transition: .2s;
}

.button:hover {
    transition: .2s;
    background-color: var(--green-strong);
}

.banner-container {
    padding-top: 90px;
    height: calc(100% - 90px);
    background-color: #F5F5F5;
    z-index: 0;
}

#banner-index {
    background: url('../img/banner.svg') no-repeat;
    background-position: right;
    background-size: 800px auto;
}

.banner {
    display: flex;
    justify-content: space-between;
    padding: 3% 8%;
}

.banner-information {
    padding-top: 8%;

}

.information {
}

.information-title {
    font-size: 2rem;
    color: #185669;
}

.information-contrast {
    color: #FFA000;
}

.banner-information {
    width: 400px;
}

.banner-information .button-container {
    justify-content: flex-start;
}

#buttonBanner {
    width: 240px;
    height: 60px;
    margin-top: 24px;
    background-color: #FFA000;
    
}

#buttonBanner:hover {
    width: 240px;
    height: 60px;
    background-color:#FF6F00;
}

.banner-image {
    width: 450px;
    border-radius: 8px;
}

#initiativeTitle {
    text-align: center;
}

.initiative-container {
    padding: 5% 8%;
}

.initiatives {
    width: 100%;
    display: flex;
}

.initiative {
    padding: 18px;
    padding-top: 32px;
    text-align: center;
}

.initiative-img {
    width: 100px;
}

#impact {
    padding: 4% 0;
    background-color: var(--green-weak);
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, 230px);
    justify-content: center;
    grid-gap: 16px;
}

.card {
    display: flex;
    border: 2px solid var(--white);
    padding: 16px;
}

.card-impact {
    border-radius: 8px;
}

.card-in {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
}

.card-text {
    color: #fff;
    text-align: center;
}

.card-img {
    width: 90px;
    height: 74px;
}

.card-title {
    color: var(--white);
    font-size: 2rem;
}

.card-blog-container {
    padding: 0 8%;
}

#blog-title {
    margin-bottom: 32px;
    text-align: center;
}

.cards-blog-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, 350px);
    justify-content: space-between;
    grid-gap: 16px;
}

.card-blog-content {
    border-radius: 8px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .32);
}

.card-blog {
    padding: 16px;
}

.card-blog-img {
    width: 100%;
    height: 150px;
    border-radius: 8px 8px 0px 0px;
}

.card-blog-title {
    color: #212121;
    line-height: 34px;
}

.card-blog-clock {
    display: flex;
}

.clock {
    width: 16px;
    margin-right: 5px;
}

.card-blog-text {
    margin: 16px 0;
    /* As propriedades abaixo são para mostrar
    apenas 3 linhas no card. */
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3
}

.card-blog-link {
    display: flex;
    color: var(--green-medium);
    transition: .2s;
}

.card-blog-link:hover {
    color: var(--green-strong);
    transition: .2s;
}

.card-blog-icon {
    margin-left: 5px;
}

.card-blog-icon path {
    fill: var(--green-weak);
    transition: .2s;
}

.card-blog-link:hover path {
    fill: var(--green-strong);
    transition: .2s;

}

.footer {
    width: 100%;
    background-color: var(--green-weak);
}

.footer-list {
    display: flex;
}

.footer-element {
    width: 300px;
    display: flex;
    flex-direction: column;
    padding: 2%;
    color: var(--white);
}

.footer-img {
    margin-right: 5px;
}

.footer-text {
    margin: 16px 0;
}

#lastText {
    margin-top: 0;
}

.footer-title {
    margin-bottom: 10px;
}

.links {
    width: 165px;
}

.footer-links {
    flex-direction: column;
}

.footer-links .item-link {
    padding-left: 0;
    padding-top: 0;
    font-weight: 400;
    font-size: 16px;
    color: var(--white);
}

.footer-links .item-link::before {
    content: '•';
    margin-right: 5px;
}

.footer-element .card-blog-title {
    font-size: 16px;
    line-height: 1.5;
    color: var(--white);
}

.footer-element .card-blog-clock {
    align-items: center;
}

.footer-element .clock {
    margin-top: 2px;
}

.footer-element .clock path {
    fill: var(--white);

}

.date {
    font-size: 14px;
}

.footer-btn {
    display: flex;    
    position: relative;
}

.input {
    width: 100%;
    height: 40px;
    border: none;
    color: var(--green-strong);
    border-radius: 8px;
    padding: 10px 25px;
}

.button-style {
    width: 40px;
    height: 40px;
    position: absolute;
    right: 8px;
    border: none;
    border-radius: 8px;
    background-color: #212121;
}

.button-style:hover {
    cursor: pointer;
    background-color: var(--green-strong);

}

#email {
}